# extra requiremenets needed by the docs themselves
# numpydoc==0.4
ipykernel
nbsphinx
ipywidgets
sphinx>=2.4
sphinx_rtd_theme
numba > 0.45.1  # seemed to cause issues with sparse

-r ../requirements.txt
